<div class="search" >
	<ion-header-bar class="bar bar-header bar-dark item-input-inset">
		
		<div class="button button-clear" onClick="javascript :history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
		<div class="item-input-wrapper dark-bg head-ipt" >
			<i class="icon ion-ios-search placeholder-icon l-size ion-left"></i>
			<label class="item-input-wrapper dark-bg "> 
		        <input  type="search" placeholder="">  
	    	</label>
	    	<i class="icon ion-right  ion-ios-camera-outline placeholder-icon l-size"></i>
    	</div>
	    <div  class=" button button-light  btn-right">
	       搜索
	    </div>		 
	</ion-header-bar>
    <ion-content scrollbar-y="false">
	    <ion-list class=" bg">
	    	<div class="item item-icon-right">
				历史记录
				<i class="fr icon ion-ios-trash-outline"></i>
	    	</div>
	    	<div class="history"><span>原创灯饰</span><span>新奇设计</span><span>儿童家品</span></div>
	    </ion-list>		      
    </ion-content>
	<div class="row absolute">
    	<div class="col-20"></div>
		<div class="col " >
			<button class="button ion-android-microphone button-block voice">&nbsp;&nbsp;按住 说出你的宝贝</button>
		</div>
		<div class="col-20"></div>
	</div>  
</div>
