<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <title>生活演异</title>
    <meta name="keywords" content="生活" />
    <meta name="description" content="生活演异" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link href="/css/ionic.min.css" rel="stylesheet" />
  </head>
  <body ng-controller="rootController">

    <ion-nav-view ></ion-nav-view>
    <base href="/">
    <script src="/js/ionic.bundle.js"></script>
    <script src="/js/ocLazyLoad.min.js"></script>
    <script src="/module/module.js"></script>
    <script src="/config/config.js"></script>
    <script src="/service/api.js"></script>
    <script src="/service/loadTips.js"></script>
    <script src="/service/messageTips.js"></script>
    <script src="/controller/rootController.js"></script>
    <script src="/route/route.js"></script>
   
  </body>
</html>
