<div>
	<ion-content has-bouncing="false" on-swipe-left="jump('evaluate');" on-swipe-right="jump('take');" scrollbar-y="false">
		<div class="order-bg">
			<div class="order-box ord-1">
				<div class="text-red">
					卖家未发货
				</div>
				<div class="item item-thumbnail-left bg-item">
			      	<img src="/images/my-order.png">
			      	<h2><span class="fl">鸟语二代</span><span class="fr">¥138</span></h2>	
					<div class="over">
						<div class="fl">
							<p>蓝牙音响/创意灯饰<p>
							<p ><span>款色：</span>米白色</p>
						</div>
						<div class="fr"><span>×</span><span>1</span></div>
					</div>
					<div class="return">
						<div class="fl">
							<img src="/images/return.png">
						</div>
						<div class="fl">七天退换</div>
					</div>
				</div>
				<div class="safe">
					<div  class="fl radius-safe">
				    	险
				    </div>
			    	<div class="fl radius-safe-right">
						<div>
							<div class="fl">运费险</div>
							<div class="fr"><span>¥</span><span>0.00</span></div>
						</div>
						<div >
							<div class="fl">
								确认收货前退货可理赔
							</div>
							<div class="fr"><span>×</span><span>1</span></div>
						</div>
					</div>
			    </div>
			    <div class="line-order">
					<span>共1件商品&nbsp;&nbsp;</span><span>合计：￥</span><span>138</span><span class="less-safe">（含运费险￥0.00）</span>
				</div>
				<div class="warn">
					<span>我要退款</span>
					<span>提醒发货</span>
				</div>				
			</div>	
		</div>			
	</ion-content>
</div>	  	
