<div class="address">
  	<ion-header-bar class="bar bar-header bar-dark">
		<div class="button button-clear" onClick="javascript :history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
		<div class="title title-center">收货地址</div>
	</ion-header-bar>
  	<ion-content  has-bouncing="false" scrollbar-y="false">
		<div class="list list-color">
			<div class="item it-pad" >
			   	<span class="fl">网红</span>
			    <span class="item-note">
			      15803948564
			    </span>
			</div>
			<div class="item it-pad" >
			   	广东省广州市天河区车陂街道中山大道苏宁易购广场
			</div>
			<div class="list">
				<div class="item it-pad-ad">
					<label class="yes fl">
						<input class="ipt" type="checkbox" name="">
						<div class="icon-box-less icon ion-checkmark-round fl">
							<div class=" yes-ion"></div>
						</div>
						<div class="fl">默认地址</div>	
					</label>
				   
				    <span class="fr padding-left pad-r">
				    	<i class=" icon ion-ios-trash-outline "></i> 
				    	<i class="padding-left">删除</i>
				    </span>
				    <span class="fr padding-right ">
				    	<i class=" icon ion-compose "></i> 
				    	<i class="padding-left">编辑</i>
				    </span>
				</div>
			</div>	
		</div>
		<div class="list list-color">
			<div class="item it-pad" >
			   	<span class="fl">网红</span>
			    <span class="item-note">
			      15803948564
			    </span>
			</div>
			<div class="item it-pad" >
			   	广东省广州市天河区车陂街道中山大道苏宁易购广场
			</div>
			<div class="list">
				<div class="item it-pad-ad">
					<label class="yes fl">
						<input class="ipt" type="checkbox" name="">
						<div class="icon-box-less icon ion-checkmark-round fl">
							<div class=" yes-ion"></div>
						</div>
						<div class="fl">默认地址</div>	
					</label>
				   
				    <span class="fr padding-left pad-r">
				    	<i class=" icon ion-ios-trash-outline "></i> 
				    	<i class="padding-left">删除</i>
				    </span>
				    <span class="fr padding-right ">
				    	<i class=" icon ion-compose "></i> 
				    	<i class="padding-left">编辑</i>
				    </span>
				</div>
			</div>	
		</div>
		<div class="list list-color">
			<div class="item it-pad" >
			   	<span class="fl">网红</span>
			    <span class="item-note">
			      15803948564
			    </span>
			</div>
			<div class="item it-pad" >
			   	广东省广州市天河区车陂街道中山大道苏宁易购广场
			</div>
			<div class="list">
				<div class="item it-pad-ad">
					<label class="yes fl">
						<input class="ipt" type="checkbox" name="">
						<div class="icon-box-less icon ion-checkmark-round fl">
							<div class=" yes-ion"></div>
						</div>
						<div class="fl">默认地址</div>	
					</label>
				   
				    <span class="fr padding-left pad-r">
				    	<i class=" icon ion-ios-trash-outline "></i> 
				    	<i class="padding-left">删除</i>
				    </span>
				    <span class="fr padding-right ">
				    	<i class=" icon ion-compose "></i> 
				    	<i class="padding-left">编辑</i>
				    </span>
				</div>
			</div>	
		</div>
  	</ion-content>
  	<ion-footer-bar class="bar-assertive">
	  	<span class="title" ng-click="openModal()">添加新的地址</span>
  	</ion-footer-bar>
</div>
    
