
	<div class="myrecharge">
	  	<ion-header-bar class="bar bar-header bar-dark">
			<div class="button button-clear" onClick="javascript:history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
			<div class="title title-center">充值</div>
			<div class="button button-clear" ng-click="jump('message');"><span class="ion ion-ios-chatbubble-outline ion-size"></span></div>
		</ion-header-bar>
	  	<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">
			<div class="bg">	
				<label class="item item-input">
					<span class="input-label">充值金额</span>
					<input class="ipttext" type="text">
				</label>
				<div class="text">选择支付方式</div>
				<div class="img-text">
				   <div>
						<img src="/images/zhifubao@2x.png">
				   </div> 
				   <div>支付宝</div>
				   <label class="fr yes">
						<input class="ipt ipt-white" type="checkbox" name="">
						<div class="icon-box-less icon-box-white icon ion-checkmark-round fl">
						</div>	
				   </label>  
				</div>
				<div class="img-text">
				   <div>
						<img src="/images/wechat@2x.png">
				   </div> 
				   <div>微信</div>
				   <label class="fr yes">
						<input class="ipt ipt-white" type="checkbox" name="">
						<div class="icon-box-less icon-box-white icon ion-checkmark-round fl">
						</div>	
				   </label>  
				</div>
				<div class="btn">
					<button class="button button-block button-assertive padding">立即支付</button>
				</div>	
		  	</div> 	
	  	</ion-content>
	  	<ion-footer-bar align-title="left" class="bar-light tabs  tabs-icon-top ">
		   <div class="tabs">
		    <a class="tab-item activated">
	        <i class="icon ion-ios-home "></i>
	        首页
	      </a>
	      <a class="tab-item">
	        <i class="icon ion-aperture"></i>
	        社区
	      </a>
	      <a class="tab-item">
	        <i class="icon ion-android-cart"></i>
	        购物车

	      </a>
	      <a class="tab-item">
	        <i class="icon ion-android-person"></i>
	        个人中心
	      </a>
		 </div>
		</ion-footer-bar>
	</div>
    