<div class="wallet">
  	<ion-header-bar class="bar bar-header bar-dark">
		<div class="button button-clear" onClick="javascript :history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
		<div class="title title-center">我的钱包</div>
		<div class="button button-clear"><span class="ion ion-ios-chatbubble-outline ion-size"></span></div>
	</ion-header-bar>
  	<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">
		<div class="bg">
			<div class="money">
				<div>
					<h3 class="">账户余额&nbsp;&nbsp;(元)</h3>
					<h1 class="">350.00</h1>
				</div>
			</div>
			<div class="more-money" ng-click="jump('myrecharge')">
			   <div>
					<img src="/images/one@2x.png">
			   </div> 
			   <div>充值</div>  
			</div>
	  	</div> 	
  	</ion-content>
</div>  
