<div class="collect">
  	<ion-header-bar class="bar bar-header bar-dark" >
		<div class="button button-clear" onClick="javascript :history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
		<div class="title title-center">我的收藏</div>
		<div class="button button-clear"><span class="ion ion-ios-chatbubble-outline ion-size"></span></div>
 	</ion-header-bar>
	
  	<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">
	  	<div class="bg">
			<div class="collect-box">
				<div class="item item-thumbnail-left bg-item">
				  	<img src="/images/my-order.png">
				  	<h2><span class="fl">鸟语二代</span><span class="fr">¥138</span></h2>	
					<div class="over">
						<div class="fl">
							<p>蓝牙音响/创意灯饰<p>
							<p ><span>款色：</span>米白色</p>
						</div>
						<div class="fr"><span>×</span><span>1</span></div>
					</div>
				</div>					
				<div class="row row-warn">
					<div class="warn col-offset-10 col-80">
						<span class="fl">取消收藏</span>
						<span class="fr">立即下单</span>
					</div>	
				</div>	
			</div>
			
		</div>				
  	</ion-content>	
</div>