<div on-swipe-left="goswipe('zhuangshi')" on-swipe-right="goswipe('riyong')">
<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">			
	<div class="order-bg">
		<div class="row row-pad">
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_13@2x.png">
				</div>
				<div class="text-color">
					<p>小笼包</p>
					<p>￥198</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_14@2x.png">
				</div>
				<div class="text-color">
					<p>白石葫芦</p>
					<p>￥238</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_15@2x.png">
				</div>
				<div class="text-color">
					<p>三个和尚</p>
					<p>￥30</p>
				</div>
			</div>
		</div>
		<div>
			<img src="/images/chanpin_16@2x.png">
		</div>
		<div class="row row-pad">
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_13@2x.png">
				</div>
				<div class="text-color">
					<p>小笼包</p>
					<p>￥198</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_14@2x.png">
				</div>
				<div class="text-color">
					<p>白石葫芦</p>
					<p>￥238</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_15@2x.png">
				</div>
				<div class="text-color">
					<p>三个和尚</p>
					<p>￥30</p>
				</div>
			</div>
		</div>
	</div>				
</ion-content>
</div>



