<div on-swipe-left="goswipe('shizhong')" >
	<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">			
		<div class="order-bg">
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/home4.png">
					</div>
					<div class="text-color">
						<p>炫彩定时灯</p>
						<p>￥118</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/home5.png">
					</div>
					<div class="text-color">
						<p>隐月</p>
						<p>￥599</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_3@2x.png">
					</div>
					<div class="text-color">
						<p>鸟语</p>
						<p>￥30</p>
					</div>
				</div>
			</div>
			<div>
				<img src="/images/chanpin_4@2x.png">
			</div>
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/home4.png">
					</div>
					<div class="text-color">
						<p>炫彩定时灯</p>
						<p>￥118</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/home5.png">
					</div>
					<div class="text-color">
						<p>隐月</p>
						<p>￥599</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/home6.png">
					</div>
					<div class="text-color">
						<p>鸟语</p>
						<p>￥49</p>
					</div>
				</div>
			</div>
		</div>				
	</ion-content>
</div>