<div on-swipe-left="goswipe('riyong')" on-swipe-right="goswipe('dengshi')" scrollbar-y="false">
<ion-content class="top-head" has-bouncing="false">			
	<div class="order-bg">
		<div class="row row-pad">
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_5@2x.png">
				</div>
				<div class="text-color">
					<p>小笼包</p>
					<p>￥198</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_6@2x.png">
				</div>
				<div class="text-color">
					<p>白石葫芦</p>
					<p>￥238</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_7@2x.png">
				</div>
				<div class="text-color">
					<p>三个和尚</p>
					<p>￥30</p>
				</div>
			</div>
		</div>
		<div>
			<img src="/images/chanpin_8@2x.png">
		</div>
		<div class="row row-pad">
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_5@2x.png">
				</div>
				<div class="text-color">
					<p>小笼包</p>
					<p>￥198</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_6@2x.png">
				</div>
				<div class="text-color">
					<p>白石葫芦</p>
					<p>￥238</p>
				</div>
			</div>
			<div class="col col-pad">
				<div>
					<img src="/images/chanpin_7@2x.png">
				</div>
				<div class="text-color">
					<p>三个和尚</p>
					<p>￥30</p>
				</div>
			</div>
		</div>
	</div>				
</ion-content>
</div>
