<div on-swipe-left="goswipe('fenlei')" on-swipe-right="goswipe('yizhi')" scrollbar-y="false">
	<ion-content class="top-head" has-bouncing="false">			
		<div class="order-bg">
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin25@2x.png">
					</div>
					<div class="text-color">
						<p>聪明袋鼠</p>
						<p>￥29</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin26@2x.png">
					</div>
					<div class="text-color">
						<p>泡泡小熊</p>
						<p>￥39</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin27@2x.png">
					</div>
					<div class="text-color">
						<p>飞天小象</p>
						<p>￥20</p>
					</div>
				</div>
			</div>
			<div>
				<img src="/images/chanpin_12@2x.png">
			</div>
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin25@2x.png">
					</div>
					<div class="text-color">
						<p>聪明袋鼠</p>
						<p>￥29</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin26@2x.png">
					</div>
					<div class="text-color">
						<p>泡泡小熊</p>
						<p>￥39</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin27@2x.png">
					</div>
					<div class="text-color">
						<p>飞天小象</p>
						<p>￥20</p>
					</div>
				</div>
			</div>
		</div>				
	</ion-content>
</div>