<div on-swipe-left="goswipe('shouna')" on-swipe-right="goswipe('zhuangshi')" scrollbar-y="false">
	<ion-content class="top-head" has-bouncing="false">			
		<div class="order-bg">
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin21@2x.png">
					</div>
					<div class="text-color">
						<p>龟兔赛跑</p>
						<p>￥89</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin22@2x.png">
					</div>
					<div class="text-color">
						<p>守株待兔</p>
						<p>￥89</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin23@2x.png">
					</div>
					<div class="text-color">
						<p>亡羊补牢</p>
						<p>￥80</p>
					</div>
				</div>
			</div>
			<div>
				<img src="/images/chanpin24@2x.png">
			</div>
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin21@2x.png">
					</div>
					<div class="text-color">
						<p>龟兔赛跑</p>
						<p>￥89</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin22@2x.png">
					</div>
					<div class="text-color">
						<p>守株待兔</p>
						<p>￥89</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin23@2x.png">
					</div>
					<div class="text-color">
						<p>亡羊补牢</p>
						<p>￥80</p>
					</div>
				</div>
			</div>
		</div>				
	</ion-content>
</div>