<div on-swipe-left="goswipe('yizhi')" on-swipe-right="goswipe('canyin')" scrollbar-y="false">
	<ion-content class="top-head" has-bouncing="false">			
		<div class="order-bg">
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_17@2x.png">
					</div>
					<div class="text-color">
						<p>花语微香</p>
						<p>￥189</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_18@2x.png">
					</div>
					<div class="text-color">
						<p>花语微香</p>
						<p>￥189</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_19@2x.png">
					</div>
					<div class="text-color">
						<p>花语微香</p>
						<p>￥180</p>
					</div>
				</div>
			</div>
			<div>
				<img src="/images/chanpin20@2x.png">
			</div>
			<div class="row row-pad">
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_17@2x.png">
					</div>
					<div class="text-color">
						<p>花语微香</p>
						<p>￥189</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_18@2x.png">
					</div>
					<div class="text-color">
						<p>花语微香</p>
						<p>￥189</p>
					</div>
				</div>
				<div class="col col-pad">
					<div>
						<img src="/images/chanpin_19@2x.png">
					</div>
					<div class="text-color">
						<p>花语微香</p>
						<p>￥180</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</div>