
<div class="mydata">	
  	<ion-header-bar class="bar bar-header bar-dark">
		<div class="button button-clear" onClick="javascript :history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
		<div class="title title-center">资料</div>	
 	</ion-header-bar>
  	<ion-content has-bouncing="false" scrollbar-y="false">
	  	<div class="item-margin">
			<div class="item">
				<div class="fl item-text"><span>昵称</span><span>网红</span></div>
				<div class="fr item-img-head">
					<img class="fr" src="/images/header.png">
				</div>
			</div>
		</div>
		<div class="item-margin">
			<div class="item item-less">
				<div class="fl item-text">
					<span>性别</span><span>女</span>
				</div>
			</div>
		  	<div class="item item-less">
				<div class="fl item-text">
					<span>生日</span><span>1994.02.28</span>
				</div>
			</div>
			<div class="item item-less">
				<div class="fl item-text">
					<span>职业</span><span>网络主播</span>
				</div>
			</div>
		</div>
		<div class="item-margin">	
			<div class="item item-less">
				<div class="fl item-text">
					<span>手机</span><span>15801082774</span>
				</div>
			</div>
			<div class="item item-less">
				<div class="fl item-text">
					<span>微信</span><span>15801082774</span>
				</div>
			</div>
			<div class="item item-less">
				<div class="fl item-text">
					<span>邮箱</span><span>15801082774@163.com</span>
				</div>
			</div>
		</div>
  	</ion-content>
  	<ion-footer-bar align-title="center" class="bar-dark">
	  	<span class="title" ng-click="jump('login')">退出登录</span>
  	</ion-footer-bar>
</div>