
<ion-modal-view>
	<div class="confirmAddress" >
	  	<ion-header-bar class="bar bar-header bar-dark">
		  	<div class="button button-clear" ng-click="closeModal()"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
			<div class="title">确认收货地址</div>
			<div class="button button-clear">管理</div>
	 	</ion-header-bar>	
	  	<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">
		  	<div class="bg">
				<div class="address">
					<div >
						<span class="fl">网红</span>
						<span class="fr">15801082774</span>
					</div>
					<div class="">
						<span class="color-text fl">[默认地址]</span>
						<span class="fl">广东省广州市天河区车陂街道苏宁广场</span>
					</div>
				</div>
				<div class="address">
					<div >
						<span class="fl">网红</span>
						<span class="fr">15801082774</span>
					</div>
					<div class="">
						<span class="text">广东省广州市天河区车陂街道苏宁广场</span>
					</div>
				</div>
				<div class="address">
					<div >
						<span class="fl">网红</span>
						<span class="fr">15801082774</span>
					</div>
					<div class="">
						<span class="text">广东省广州市天河区车陂街道苏宁广场</span>
					</div>
				</div>
			</div>				
	  	</ion-content>
	</div>    
</ion-modal-view>