
<div class="discuss">
	<ion-header-bar class="bar bar-header head-bg" pro-directive>
		<div class="button " onClick="javascript :history.back(-1);"><span class=" ion-ios-arrow-back"></span></div>
		<div class="title">
			<div class="img-title">
			<img src="/images/chanpin_1@2x.png">
			</div>
		</div>
		<div class="button pull-right"><span class=" ion-android-cart"></span></div>
		<div class="button" ng-click="jump('message')"><span class="  ion-ios-chatbubble-outline"></span></div>
	</ion-header-bar>
	<ion-content class="top-head" has-bouncing="false" scrollbar-y="false">
		<div class="bg">
			<div class="commun-bg">
				<div class="remark">
					<div> 
						<span class="all">全部（<i>167</i>）</span>
						<span>好评（<i>159</i>）</span>
						<span>中评（<i>4</i>）</span>
					</div>
					<div> 
						<span class="bad">差评（<i>10</i>）</span>
						<span>有图（<i>159</i>）</span>
						<span>追加（<i>4</i>）</span>
					</div>
			    </div>
			    <div class="text-img">
			    	<div class="fl">
			    		<img src="/images/header.png">
			    	</div>
					
					<div class="fr">网红</div>
			    </div>
			    <div class="text-color"><span>2017.06.06</span> 颜色分类:<span>米白色</span></div>
			    <div class="text-box">工艺和好质量不错，样式也经典，包装的非常好，安装也简单方便。放在哪里都那么美，好可惜只买了一个。非常漂亮，包装精美，物流快！
			    </div>
			     <div class="row row-wrap" >
			    	<div class="col-33 pad-col" ng-repeat="item in disImgUrl track by $index">
			    		<img ng-src="{{item}}">
			    	</div>
			    </div>
			    <div class="moods">
					<div class="fl">浏览次数<span>107</span>次</div>
					<div class="like fr">
						<span><i class="ion-ios-chatbubble-outline"></i><i>&nbsp;&nbsp;2</i></span>
						<span><i class="ion-android-favorite-outline"></i><i>&nbsp;&nbsp;24</i></span>
					</div>
			    </div>
			</div>
		</div>
		<div class="bg">
			<div class="commun-bg">
				<div class="remark">
					<div> 
						<span class="all">全部（<i>167</i>）</span>
						<span>好评（<i>159</i>）</span>
						<span>中评（<i>4</i>）</span>
					</div>
					<div> 
						<span class="bad">差评（<i>10</i>）</span>
						<span>有图（<i>159</i>）</span>
						<span>追加（<i>4</i>）</span>
					</div>
			    </div>
			    <div class="text-img">
			    	<div class="fl">
			    		<img src="/images/header.png">
			    	</div>
					
					<div class="fr">网红</div>
			    </div>
			    <div class="text-color"><span>2017.06.06</span> 颜色分类:<span>米白色</span></div>
			    <div class="text-box">工艺和好质量不错，样式也经典，包装的非常好，安装也简单方便。放在哪里都那么美，好可惜只买了一个。非常漂亮，包装精美，物流快！
			    </div>
			     <div class="row row-wrap" >
			    	<div class="col-33 pad-col" ng-repeat="item in disImgUrl track by $index">
			    		<img ng-src="{{item}}">
			    	</div>
			    </div>
			    <div class="moods">
					<div class="fl">浏览次数<span>107</span>次</div>
					<div class="like fr">
						<span><i class="ion-ios-chatbubble-outline"></i><i>&nbsp;&nbsp;2</i></span>
						<span><i class="ion-android-favorite-outline"></i><i>&nbsp;&nbsp;24</i></span>
					</div>
			    </div>
			</div>
		</div>
		<div class="bg">
			<div class="commun-bg">
				<div class="remark">
					<div> 
						<span class="all">全部（<i>167</i>）</span>
						<span>好评（<i>159</i>）</span>
						<span>中评（<i>4</i>）</span>
					</div>
					<div> 
						<span class="bad">差评（<i>10</i>）</span>
						<span>有图（<i>159</i>）</span>
						<span>追加（<i>4</i>）</span>
					</div>
			    </div>
			    <div class="text-img">
			    	<div class="fl">
			    		<img src="/images/header.png">
			    	</div>
					
					<div class="fr">网红</div>
			    </div>
			    <div class="text-color"><span>2017.06.06</span> 颜色分类:<span>米白色</span></div>
			    <div class="text-box">工艺和好质量不错，样式也经典，包装的非常好，安装也简单方便。放在哪里都那么美，好可惜只买了一个。非常漂亮，包装精美，物流快！
			    </div>
			    <div class="row row-wrap" >
			    	<div class="col-33 pad-col" ng-repeat="item in disImgUrl track by $index">
			    		<img ng-src="{{item}}">
			    	</div>
			    </div>
			    <div class="moods">
					<div class="fl">浏览次数<span>107</span>次</div>
					<div class="like fr">
						<span><i class="ion-ios-chatbubble-outline"></i><i>&nbsp;&nbsp;2</i></span>
						<span><i class="ion-android-favorite-outline"></i><i>&nbsp;&nbsp;24</i></span>
					</div>
			    </div>
			</div>
		</div>
	</ion-content>
</div>

