<div class="message">
  	<ion-header-bar class="bar bar-header bar-dark">
		<div class="button button-clear" onClick="javascript :history.back(-1);"><span class="ion ion-ios-arrow-left ion-size fl"></span><span class="text-size fl" >返回</span></div>
		<div class="title">信息中心</div>
	</ion-header-bar>
  	<ion-content class="top-head" has-bouncing="false">
		<ion-list class="list">
		    <ion-item class="item item-avatar" >
		      <img class="border" src="/images/wuliu@2x.png">
		      <h2>交易物流消息</h2>
		      <p>订单已签收</p>
		    </ion-item>
		    <ion-item class="item item-avatar" >
		      <img class="border" src="/images/kefu@2x.png">
		      <h2>交易物流消息</h2>
		      <p>订单已签收</p>
		    </ion-item>
		    <ion-item class="item item-avatar" >
		      <img class="border" src="/images/tongzhi@2x.png">
		      <h2>交易物流消息</h2>
		      <p>订单已签收</p>
		    </ion-item>

		</ion-list>
  	</ion-content>
</div>

	